.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #000;
  color: #fff;
  border: 2px solid transparent; /* correct syntax */
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease; /* add border transition */
}

.primary-btn:hover {
  background-color: transparent;
  border-color: #000;  /* correct way to set border on hover */
  color: #000;
}


.accent-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;              /* gap-4 */
  padding: 12px;          /* h-12 */
  width: 175px;
  background-color: #1e3a8a;
  opacity: 0.9;
  color: #ffffff;            /* text-white */
  border-radius: 0.5rem;
  font-weight: 600;
  border-width: 2px;       /* font-semibold */
  transition: background-color 0.3s ease; /* transition */
}

.accent-btn:hover {
  opacity: 1;
  color: #ffffff;
}